<!DOCTYPE html>
<html>
    <head>
        <title>Reinforcement Learning</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>        
        <script type="text/javascript" src="{{ url_for('static', filename='js/phaser.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        
        <style>
            body {
                padding: 0px;
                margin: 0px;             
            }
        </style>
    </head>
    <div class="staticUrl" name="{{ url_for('static', filename='') }}"></div>
    <body>        
    </body>
</html>
